:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .5px;

  color-scheme: light dark;
  background-color: #ECEFEC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-bg: #FFF;
  --dark-text: #141E12;
  --row-hover: #F2FCF5;
  --gray-border: #C3C8C2;
  --lightgray-border: #E0E4E0;

  --light-blue: #DEF1FF;
  --blue: #0063AA;
  --light-yellow:#FFF1DA;
  --yellow: #C47E0A;
  --light-green: #E1FAEA;
  --green: #018030;
  --light-gray:#E6E9E6;
  --gray: #6B716A;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

button,
label {
    cursor: pointer;
    border: none;
}

.tag span{
  font-weight: 600;
  font-size: 12px;
}
.tag span{
  padding: 0 8px;
  border-radius: 5px;
}